nodered-backup-12.13.2019
[{"id":"c8fdd34b.352dd","type":"tab","label":"Lights & media","disabled":false,"info":""},{"id":"13611a79.c78706","type":"tab","label":"Service","disabled":false,"info":""},{"id":"20c900c0.75efd","type":"tab","label":"Cam Control","disabled":false,"info":""},{"id":"fd5d29cc.fba2d8","type":"tab","label":"ESP_a9e73ec","disabled":false,"info":""},{"id":"72e94d25.d801a4","type":"tab","label":"ESP_a9ee750","disabled":false,"info":""},{"id":"86015fc2.87e9c","type":"tab","label":"ESP32-1235","disabled":false,"info":""},{"id":"1b0d7b07.b37a55","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"a0a10aa8.92cb28","type":"tab","label":"garage door","disabled":false,"info":""},{"id":"9f9ddbf7.46da38","type":"tab","label":"MQTT log monitor","disabled":true,"info":""},{"id":"99e0fe3a.4335e","type":"tab","label":"wallpanel testing","disabled":true,"info":""},{"id":"f06ede57.cc95c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e6a49356.0b13a","type":"ui_group","z":"","name":"Service Devices","tab":"c52c97ea.7089f8","order":1,"disp":true,"width":"9","collapse":true},{"id":"c52c97ea.7089f8","type":"ui_tab","z":"","name":"Service","icon":"dashboard","order":1},{"id":"3151242.36f8fdc","type":"ui_group","z":"","name":"Switches","tab":"d592b1ca.b2da9","order":5,"disp":true,"width":"6","collapse":true},{"id":"7c84f575.fda28c","type":"ui_group","z":"","name":"ESP_a9ee750","tab":"d592b1ca.b2da9","order":1,"disp":true,"width":"8","collapse":true},{"id":"4c526a68.3b1294","type":"ui_group","z":"","name":"ESP_a9ee750","tab":"d592b1ca.b2da9","order":2,"disp":true,"width":"6","collapse":true},{"id":"d592b1ca.b2da9","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2},{"id":"2f6f1b6e.2fa904","type":"ui_group","z":"","name":"ESP_a9e73ec","tab":"a383ba60.41b768","order":4,"disp":true,"width":"6","collapse":false},{"id":"a31e7ab4.243c48","type":"ui_group","z":"","name":"ESP_a9e73ec","tab":"a383ba60.41b768","order":3,"disp":true,"width":"6","collapse":false},{"id":"a383ba60.41b768","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2},{"id":"fd8a8206.2b159","type":"ui_group","z":"","name":"Switches","tab":"82a708c8.e58e78","order":5,"disp":true,"width":"6","collapse":true},{"id":"1b19e344.06ce7d","type":"ui_group","z":"","name":"Default","tab":"408435b3.34a14c","disp":true,"width":"6","collapse":true},{"id":"82a708c8.e58e78","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2},{"id":"408435b3.34a14c","type":"ui_tab","z":"","name":"device1234567","icon":"window","order":4},{"id":"d4fd4c2d.e7235","type":"ui_group","z":"","name":"Default","tab":"1812fd19.bf8a13","disp":true,"width":"6","collapse":true},{"id":"1812fd19.bf8a13","type":"ui_tab","z":"","name":"device1234567","icon":"window","order":4},{"id":"8e96e05b.63b15","type":"server","z":"","name":"HA - reednucha.duckdns.org:82","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"7a5ac6fa.523d68","type":"mqtt-broker","z":"","name":"mqtt - reedwebha.duckdns.org","broker":"reedwebha.duckdns.org","port":"1883","clientid":"HA-NR-46594665554","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"845d9ae1.9f2ed8","type":"ui_group","z":"","name":"Service Devices","tab":"93e4d4dc.340ae8","order":1,"disp":true,"width":"9","collapse":true},{"id":"93e4d4dc.340ae8","type":"ui_tab","z":"","name":"Service","icon":"dashboard","order":1},{"id":"129de2e.200df1d","type":"ui_group","z":"","name":"Switches","tab":"57224115.86fa5","order":5,"disp":true,"width":"6","collapse":true},{"id":"bead7059.01ba2","type":"ui_group","z":"","name":"ESP_a9ee750","tab":"57224115.86fa5","order":1,"disp":true,"width":"8","collapse":true},{"id":"63e051b9.655ff","type":"ui_group","z":"","name":"ESP_a9ee750","tab":"57224115.86fa5","order":2,"disp":true,"width":"6","collapse":true},{"id":"57224115.86fa5","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2},{"id":"678f1aa7.3291d4","type":"ui_group","z":"","name":"ESP_a9e73ec","tab":"1370371.b4d20c9","order":4,"disp":true,"width":"6","collapse":false},{"id":"dee341dc.bd21","type":"ui_group","z":"","name":"ESP_a9e73ec","tab":"1370371.b4d20c9","order":3,"disp":true,"width":"6","collapse":false},{"id":"1370371.b4d20c9","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2},{"id":"d0829a1e.dcec18","type":"ui_group","z":"","name":"Switches","tab":"3af9f26.2d4980e","order":5,"disp":true,"width":"6","collapse":true},{"id":"41b53120.bfcc1","type":"ui_group","z":"","name":"Default","tab":"3fc542fc.7fd69e","disp":true,"width":"6","collapse":true},{"id":"3af9f26.2d4980e","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2},{"id":"3fc542fc.7fd69e","type":"ui_tab","z":"","name":"device1234567","icon":"window","order":4},{"id":"d3b7e3df.e6889","type":"ui_group","z":"","name":"Default","tab":"917dccfa.8cb9d","disp":true,"width":"6","collapse":true},{"id":"917dccfa.8cb9d","type":"ui_tab","z":"","name":"device1234567","icon":"window","order":4},{"id":"554fb4e7.c2789c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d48f152c.b5a778","type":"inject","z":"c8fdd34b.352dd","name":"@ 7:40 AM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"40 07 * * *","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["7e99c04a.6c36","9bd8a8e.138bb58","8be8c489.0a0d68"]]},{"id":"8ee39f96.93e57","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn off mantle light","server":"8e96e05b.63b15","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.mantle_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":910,"y":340,"wires":[[]]},{"id":"7e99c04a.6c36","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn on mantle light","server":"8e96e05b.63b15","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.mantle_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":370,"y":340,"wires":[[]]},{"id":"10cba3c2.523ccc","type":"inject","z":"c8fdd34b.352dd","name":"@ 10:30 PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 22 * * *","once":false,"onceDelay":0.1,"x":650,"y":380,"wires":[["5ff8aa63.f604d4","8ee39f96.93e57","ed666826.c590f8","ad78d047.2474"]]},{"id":"5ff8aa63.f604d4","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn off living room lights","server":"8e96e05b.63b15","version":"1","service_domain":"light","service":"turn_off","entityId":"group.all_lights","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":930,"y":400,"wires":[[]]},{"id":"9bd8a8e.138bb58","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn on living room lights","server":"8e96e05b.63b15","version":"1","service_domain":"light","service":"turn_on","entityId":"group.all_lights","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":390,"y":400,"wires":[[]]},{"id":"fe40d350.0d706","type":"inject","z":"c8fdd34b.352dd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":940,"wires":[["51fb834c.bb471c"]]},{"id":"51fb834c.bb471c","type":"api-call-service","z":"c8fdd34b.352dd","name":"","server":"8e96e05b.63b15","version":"1","service_domain":"persistent_notification","service":"create","entityId":"","data":"{\"message\": \"The message goes right here.\", \"title\": \"Custom subject\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":420,"y":940,"wires":[[]]},{"id":"29a0bb0d.0dd8f4","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn off computer rm light","server":"8e96e05b.63b15","version":"1","service_domain":"light","service":"turn_off","entityId":"light.osram_lightify_a19_onoffdim_000ccb46_3","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":850,"y":780,"wires":[[]]},{"id":"c59f977b.c38698","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn on computer rm light","server":"8e96e05b.63b15","version":"1","service_domain":"light","service":"turn_on","entityId":"light.osram_lightify_a19_onoffdim_000ccb46_3","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":850,"y":700,"wires":[[]]},{"id":"7b65912f.3a315","type":"alexa-local","z":"c8fdd34b.352dd","devicename":"computer room light","inputtrigger":false,"x":120,"y":880,"wires":[["db907eca.f8bf7"]]},{"id":"db907eca.f8bf7","type":"api-call-service","z":"c8fdd34b.352dd","name":"toggle computer rm light","server":"8e96e05b.63b15","version":"1","service_domain":"light","service":"toggle","entityId":"light.osram_lightify_a19_onoffdim_000ccb46_3","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":410,"y":880,"wires":[[]]},{"id":"d6d9b6ec.8138c8","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn on fridge light","server":"8e96e05b.63b15","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.02200216ecfabc8c5eab","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":370,"y":60,"wires":[[]]},{"id":"9fc03b25.742ae8","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn on counter light","server":"8e96e05b.63b15","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.02200216ecfabc8c6a02","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":380,"y":180,"wires":[[]]},{"id":"6cf18a4c.6354c4","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn on stove light","server":"8e96e05b.63b15","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.02200392dc4f221882c2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":370,"y":240,"wires":[[]]},{"id":"dfced45a.1e6a88","type":"inject","z":"c8fdd34b.352dd","name":"@ 7:00 AM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["d6d9b6ec.8138c8","9fc03b25.742ae8","6cf18a4c.6354c4","dbca8127.31494"]]},{"id":"aee04c3c.0fb6b","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn off fridge light","server":"8e96e05b.63b15","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.02200216ecfabc8c5eab","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":910,"y":60,"wires":[[]]},{"id":"9259c9c7.5c7868","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn off counter light","server":"8e96e05b.63b15","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.02200216ecfabc8c6a02","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":920,"y":180,"wires":[[]]},{"id":"8fff6166.fdf66","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn off stove light","server":"8e96e05b.63b15","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.02200392dc4f221882c2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":910,"y":240,"wires":[[]]},{"id":"c7b34db4.64247","type":"inject","z":"c8fdd34b.352dd","name":"@ 11:15 PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"15 23 * * *","once":false,"onceDelay":0.1,"x":650,"y":160,"wires":[["aee04c3c.0fb6b","9259c9c7.5c7868","8fff6166.fdf66","676556f6.d1c378"]]},{"id":"dbca8127.31494","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn on sink light","server":"8e96e05b.63b15","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.sonoff_sink_light_relay_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":370,"y":120,"wires":[[]]},{"id":"676556f6.d1c378","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn off sink light","server":"8e96e05b.63b15","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.sonoff_sink_light_relay_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":910,"y":120,"wires":[[]]},{"id":"3fcb1907.895616","type":"mqtt out","z":"13611a79.c78706","name":"post service request","topic":"","qos":"","retain":"","broker":"7a5ac6fa.523d68","x":1220,"y":460,"wires":[]},{"id":"61ce6e73.5e4d4","type":"ui_dropdown","z":"13611a79.c78706","name":"","label":"Restart: ","place":"Select device","group":"845d9ae1.9f2ed8","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"}],"payload":"","topic":"restart","x":660,"y":360,"wires":[["8120cf1c.fee8c"]]},{"id":"f5191356.437d6","type":"change","z":"13611a79.c78706","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"[\t   {\"select a device\":\"select a device\"},\t   {\"temp sensor 3ec\":\"ESP_a9e73ec\"},\t   {\"temp sensor 750\":\"ESP_a9ee750\"},\t   {\"temp sensor 585\":\"ESP_a8585\"} \t]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":480,"wires":[["61ce6e73.5e4d4","874a5abf.240ad8","78b62ba6.7ca0a4","ef7f387d.2bf108"]]},{"id":"2d068f74.76697","type":"inject","z":"13611a79.c78706","name":"load test devices","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":500,"wires":[["f5191356.437d6"]]},{"id":"874a5abf.240ad8","type":"ui_dropdown","z":"13611a79.c78706","name":"","label":"Format FS: ","place":"Select device","group":"845d9ae1.9f2ed8","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"}],"payload":"","topic":"format FS","x":670,"y":420,"wires":[["8120cf1c.fee8c"]]},{"id":"78b62ba6.7ca0a4","type":"ui_dropdown","z":"13611a79.c78706","name":"","label":"Settings AP: ","place":"Select device","group":"845d9ae1.9f2ed8","order":3,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"}],"payload":"","topic":"settingsAP","x":670,"y":480,"wires":[["8120cf1c.fee8c"]]},{"id":"aef4f4a2.62ffb8","type":"mqtt in","z":"13611a79.c78706","name":"Subscribe to device/log/#","topic":"deviceLog/#","qos":"2","datatype":"auto","broker":"7a5ac6fa.523d68","x":130,"y":160,"wires":[["91ffbf90.4d66b","c5f26d1d.e124a"]]},{"id":"a19438f0.0b8588","type":"json","z":"13611a79.c78706","name":"","property":"payload","action":"obj","pretty":false,"x":630,"y":40,"wires":[["3a1d97fe.6dc018"]]},{"id":"8120cf1c.fee8c","type":"change","z":"13611a79.c78706","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"deviceId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":420,"wires":[["22e21405.8b04fc"]]},{"id":"22e21405.8b04fc","type":"function","z":"13611a79.c78706","name":"create service message","func":"msg.payload = msg.topic\nmsg.topic = \"service/\" + msg.deviceId\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":500,"wires":[["3fcb1907.895616"]]},{"id":"3218342.c2f1dcc","type":"file","z":"13611a79.c78706","name":"","filename":"/config/devices.log","appendNewline":false,"createDir":true,"overwriteFile":"true","x":630,"y":840,"wires":[[]]},{"id":"5531a4ea.8f14ec","type":"function","z":"13611a79.c78706","name":"upsert device into file","func":"// check to see if fromFile is empty, if so push new device from fromMQTT\n// loop thru fromFile array and see if device is already there, if so replace details\n// if not there push the new device\n\nvar newPayload = [];\nif (typeof msg.payload.fromMQTT.name !== 'undefined') {\n  // the variable is defined\n} else {\n  msg.payload.fromMQTT.name = msg.payload.fromMQTT.deviceId;    \n}\n\nmsg.topic = \"processed\";\n\nif (msg.payload.fromFile.length > 0) {\n  msg.payload.fromFileEmpty = false;\n} else {\n  msg.payload.fromFileEmpty = true;\n  newPayload.push(msg.payload.fromMQTT);\n  msg.payload = newPayload;\n  return msg;\n}\n\nvar arrayLength = msg.payload.fromFile.length;\nfor (var i = 0; i < arrayLength; i++) {\n  if (msg.payload.fromFile[i].deviceId == msg.payload.fromMQTT.deviceId) {\n    msg.payload.fromFile[i] = msg.payload.fromMQTT;\n    newPayload = msg.payload.fromFile;\n    msg.matchfound = true;\n    msg.payload = newPayload;\n    return msg;\n  }\n}\n\n// must be a new device...add it\nmsg.payload.fromFile.push(msg.payload.fromMQTT);\nnewPayload = msg.payload.fromFile;\nmsg.addedAsNew = true;\nmsg.payload = newPayload;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":940,"y":80,"wires":[["bd5a0534.273198"]]},{"id":"91ffbf90.4d66b","type":"file in","z":"13611a79.c78706","name":"","filename":"/config/devices.log","format":"lines","chunk":false,"sendError":false,"x":250,"y":40,"wires":[["5bcff1e0.ff48e"]]},{"id":"3a1d97fe.6dc018","type":"join","z":"13611a79.c78706","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":100,"wires":[["5531a4ea.8f14ec"]]},{"id":"5bcff1e0.ff48e","type":"change","z":"13611a79.c78706","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"fromFile","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":100,"wires":[["a19438f0.0b8588"]]},{"id":"10ee32e3.67d9cd","type":"json","z":"13611a79.c78706","name":"","property":"payload","action":"obj","pretty":false,"x":630,"y":160,"wires":[["3a1d97fe.6dc018"]]},{"id":"c5f26d1d.e124a","type":"change","z":"13611a79.c78706","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"fromMQTT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[["10ee32e3.67d9cd"]]},{"id":"762e4746.eeb5b8","type":"function","z":"13611a79.c78706","name":"insert test data","func":"var myDevices = [];\n//myDevices[0] = 200;\n\nmyDevices.push({\"deviceId\": \"ESP_a9ee750\", \n              \"name\": \"Bedroom sensor\",\n              \"deviceType\": \"ESP32\",\n              \"chipId\": \"9ec40a24\",\n              \"sketchName\": \"BMP280-online,ino\"\n});\nmyDevices.push({\"deviceId\": \"ESP_a9ee757\", \n              \"name\": \"Kitchen sensor\",\n              \"deviceType\": \"ESP32\",\n              \"chipId\": \"9ec40a24\",\n              \"sketchName\": \"BMP280-online,ino\"\n});\nmyDevices.push({\"deviceId\": \"ESP_a9ee787\", \n              \"name\": \"Porch sensor\",\n              \"deviceType\": \"ESP32\",\n              \"chipId\": \"9ec40a24\",\n              \"sketchName\": \"BMP280-online,ino\"\n});\n\n\n\nmsg.debug = \"MESSAGEHERER\";\n\n//myDevices[1] = device;\n//myDevices.push({\"deviceId\": \"8899\", \"name\": \"Kitchen sensor\"});\n\nmsg.payload = myDevices;\n//msg.payload = JSON.stringify(myDevices);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":820,"wires":[["3218342.c2f1dcc"]]},{"id":"db7ca8d1.663a48","type":"inject","z":"13611a79.c78706","name":"insert test data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":820,"wires":[["762e4746.eeb5b8"]]},{"id":"f3cc745.cdbfc88","type":"function","z":"13611a79.c78706","name":"reset devices.log file","func":"var myDevices = [];\nmsg.payload = myDevices;\n\n//msg.payload = JSON.stringify(myDevices);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":880,"wires":[["3218342.c2f1dcc"]]},{"id":"2b949600.7d8bfa","type":"inject","z":"13611a79.c78706","name":"clear devices.log file","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":880,"wires":[["f3cc745.cdbfc88"]]},{"id":"bd5a0534.273198","type":"file","z":"13611a79.c78706","name":"","filename":"/config/devices.log","appendNewline":false,"createDir":true,"overwriteFile":"true","x":910,"y":180,"wires":[["46c02fa0.d7281"]]},{"id":"46c02fa0.d7281","type":"function","z":"13611a79.c78706","name":"extract dropdown options","func":"var options = [];\n\nvar arrayLength = msg.payload.length;\nfor (var i = 0; i < arrayLength; i++) {\n  var option = {};\n  option[msg.payload[i].name] =  msg.payload[i].deviceId;\n  options[i] = option;    \n}\nvar dummy = {\"select a device\" : \"select a device\"};\noptions.unshift(dummy);\n\nmsg.options = options;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["78b62ba6.7ca0a4","874a5abf.240ad8","61ce6e73.5e4d4","ef7f387d.2bf108"]]},{"id":"b36cb092.3a63","type":"file in","z":"13611a79.c78706","name":"","filename":"/config/devices.log","format":"lines","chunk":false,"sendError":false,"x":130,"y":360,"wires":[["3f15276e.0c4188"]]},{"id":"eee7cfc2.d9dbd","type":"inject","z":"13611a79.c78706","name":"manually load devices","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":220,"wires":[["b36cb092.3a63"]]},{"id":"3f15276e.0c4188","type":"json","z":"13611a79.c78706","name":"","property":"payload","action":"","pretty":false,"x":270,"y":420,"wires":[["46c02fa0.d7281"]]},{"id":"ef7f387d.2bf108","type":"ui_dropdown","z":"13611a79.c78706","name":"","label":"Remove Device: ","place":"Select device to remove","group":"845d9ae1.9f2ed8","order":5,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"},{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":680,"y":580,"wires":[["e5daf32.3c7f31","2ce14a0e.2c1c86"]]},{"id":"b2e804c5.51ffa8","type":"ui_template","z":"13611a79.c78706","group":"845d9ae1.9f2ed8","name":"line","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n\n<br><br><br><br>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":650,"y":540,"wires":[[]]},{"id":"24108ef3.eb28c2","type":"function","z":"13611a79.c78706","name":"remove device from devices.log","func":"// take deviceId from input\n// loop thru fromFile array and see if device is there, if so remove it\n// return msg;\n\nvar newPayload = [];\n\nmsg.topic = \"processed\";\n\nif (msg.payload.fromFile.length < 1) {\n  return msg;\n}\n\nvar arrayLength = msg.payload.fromFile.length;\nfor (var i = 0; i < arrayLength; i++) {\n  if (msg.payload.fromFile[i].deviceId == msg.payload.fromDropDown) {\n    msg.deviceRemoved = msg.payload.fromDropDown;\n  } else {\n    newPayload.push(msg.payload.fromFile[i])\n  }\n}\n\nmsg.payload = newPayload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":540,"wires":[["a51118fb.b8aeb8"]]},{"id":"e5daf32.3c7f31","type":"file in","z":"13611a79.c78706","name":"","filename":"/config/devices.log","format":"lines","chunk":false,"sendError":false,"x":630,"y":680,"wires":[["d0d357e5.0e73b8"]]},{"id":"2ce14a0e.2c1c86","type":"change","z":"13611a79.c78706","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"fromDropDown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":580,"wires":[["9b1f4e11.3e4af"]]},{"id":"d0d357e5.0e73b8","type":"change","z":"13611a79.c78706","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"fromFile","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":640,"wires":[["43a0e57f.e16c8c"]]},{"id":"43a0e57f.e16c8c","type":"json","z":"13611a79.c78706","name":"","property":"payload","action":"obj","pretty":false,"x":1050,"y":640,"wires":[["9b1f4e11.3e4af"]]},{"id":"9b1f4e11.3e4af","type":"join","z":"13611a79.c78706","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1050,"y":580,"wires":[["24108ef3.eb28c2"]]},{"id":"a51118fb.b8aeb8","type":"file","z":"13611a79.c78706","name":"","filename":"/config/devices.log","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1290,"y":280,"wires":[["46c02fa0.d7281"]]},{"id":"881e316c.98d32","type":"mqtt in","z":"20c900c0.75efd","name":"all Snapshots","topic":"homeassistant/+/motion/snapshot","qos":"2","datatype":"auto","broker":"7a5ac6fa.523d68","x":90,"y":120,"wires":[["b7635bf.ad022a8"]]},{"id":"5c3452e3.1aa74c","type":"debug","z":"20c900c0.75efd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":485,"y":150,"wires":[]},{"id":"b7635bf.ad022a8","type":"function","z":"20c900c0.75efd","name":"create filename","func":"//var d = new Date();\n//var h = d.getHours();\n//var m = d.getMinutes();\n//var s = d.getSeconds();\n//var hms = h.toString() + m.toString() + s.toString();\n\n// pull the camera name out of the topic string\nvar cameraName = msg.topic.split(\"/\")[1];\n\nvar count = context.get(cameraName) || 0; \ncount +=1;\n\nif (count > 28) {\n    count = 1;\n}\n\ncontext.set(cameraName, count);\nmsg.cameraName = cameraName;\nmsg.notifyTitle = \"Motion Alert! \" + cameraName + count;\n\nmsg.notifyMessage = \"Motion detected -      [\" + cameraName + \" local snapshot](http://reedhassio.local:8123/local/snapshots/\" + cameraName + \"-\" + count + '.jpg)';\nmsg.notifyMessage = msg.notifyMessage + \" -  [\" + cameraName + count + \" duckdns snapshot](/local/snapshots/\" + cameraName + \"-\" + count + '.jpg)';\n//msg.notifyMessage = \"[an example](http://hassio.local:8123/)\";\nmsg.notifyMessageId = cameraName + \"-\" + count;\n\nmsg.filename = \"/config/www/snapshots/\" + cameraName + \"-\" + count + \".jpg\"\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":150,"wires":[["64a36468.5dadcc","5c3452e3.1aa74c","35ed54b5.3a77dc"]]},{"id":"64a36468.5dadcc","type":"file","z":"20c900c0.75efd","name":"write snapshot","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":515,"y":90,"wires":[[]]},{"id":"35ed54b5.3a77dc","type":"api-call-service","z":"20c900c0.75efd","name":"notify","server":"8e96e05b.63b15","version":1,"service_domain":"persistent_notification","service":"create","entityId":"","data":"{    \"title\": \"{{notifyTitle}}\",    \"message\": \"{{notifyMessage}}\",    \"notification_id\": \"{{notifyMessageId}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":220,"wires":[[]]},{"id":"1d737699.5d6a49","type":"inject","z":"20c900c0.75efd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":375,"y":390,"wires":[["c502dddb.74d49"]]},{"id":"c502dddb.74d49","type":"api-call-service","z":"20c900c0.75efd","name":"turn off night mode","server":"8e96e05b.63b15","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.frontcam_night_mode, switch.livingroomcam_night_mode, switch.backlowercam_night_mode, switch.backporch_night_mode, switch.garagecam_night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":625,"y":450,"wires":[[]]},{"id":"53d4cb17.f643e4","type":"api-call-service","z":"20c900c0.75efd","name":"turn on night mode","server":"8e96e05b.63b15","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.frontcam_night_mode, switch.backlowercam_night_mode, switch.livingroomcam_night_mode, switch.backporch_night_mode, switch.garagecam_night_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":510,"wires":[[]]},{"id":"7a1d0fda.1c87c","type":"inject","z":"20c900c0.75efd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":395,"y":590,"wires":[["53d4cb17.f643e4"]]},{"id":"43bfa2d5.a9261c","type":"server-state-changed","z":"20c900c0.75efd","name":"sun rise","server":"8e96e05b.63b15","version":1,"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":true,"x":105,"y":510,"wires":[["58ce646b.6b7e2c","d3498b4b.54bb58"]]},{"id":"2e13d630.34bbea","type":"debug","z":"20c900c0.75efd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":625,"y":360,"wires":[]},{"id":"58ce646b.6b7e2c","type":"switch","z":"20c900c0.75efd","name":"above horizon","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"above_horizon","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":355,"y":470,"wires":[["2e13d630.34bbea","c502dddb.74d49"]]},{"id":"d3498b4b.54bb58","type":"switch","z":"20c900c0.75efd","name":"below horizon","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"above_horizon","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":355,"y":510,"wires":[["2e13d630.34bbea","53d4cb17.f643e4"]]},{"id":"94638a40.33de48","type":"mqtt out","z":"72e94d25.d801a4","name":"","topic":"switch/esp1234/led1/output","qos":"1","retain":"true","broker":"7a5ac6fa.523d68","x":420,"y":440,"wires":[]},{"id":"54378026.e70e4","type":"mqtt in","z":"72e94d25.d801a4","name":"ESP_a9ee750/temperature","topic":"sensor/ESP_a9ee750/temperature","qos":"2","datatype":"auto","broker":"7a5ac6fa.523d68","x":130,"y":220,"wires":[["ba1575c8.337b98","8c0741a8.c556a","422dfdf2.9ebec4"]]},{"id":"dd4119b.f3235e8","type":"ui_switch","z":"72e94d25.d801a4","name":"","label":"LED1 Switch","group":"129de2e.200df1d","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":150,"y":440,"wires":[["94638a40.33de48","d358d064.deead"]]},{"id":"ba1575c8.337b98","type":"debug","z":"72e94d25.d801a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":200,"wires":[]},{"id":"e6e106a2.599158","type":"mqtt in","z":"72e94d25.d801a4","name":"ESP_a9ee750/pressure","topic":"sensor/ESP_a9ee750/pressure","qos":"2","datatype":"auto","broker":"7a5ac6fa.523d68","x":120,"y":100,"wires":[["becec5c4.b662f8","caeb09f0.7a3ea8","a32c7cd2.0cdb8"]]},{"id":"becec5c4.b662f8","type":"debug","z":"72e94d25.d801a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":60,"wires":[]},{"id":"8c0741a8.c556a","type":"ui_chart","z":"72e94d25.d801a4","name":"","group":"bead7059.01ba2","order":3,"width":"0","height":"0","label":"Temperature Trend","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":240,"wires":[[]]},{"id":"caeb09f0.7a3ea8","type":"ui_gauge","z":"72e94d25.d801a4","name":"","group":"63e051b9.655ff","order":2,"width":0,"height":0,"gtype":"gage","title":"Current Pressure","label":"Hg","format":"{{value}}","min":"27","max":"33","colors":["#d9d48c","#0073e6","#d71e2d"],"seg1":"33","seg2":"66","x":450,"y":100,"wires":[]},{"id":"d205b72a.01b2a8","type":"mqtt out","z":"72e94d25.d801a4","name":"","topic":"switch/esp1234/led2/output","qos":"1","retain":"true","broker":"7a5ac6fa.523d68","x":420,"y":520,"wires":[]},{"id":"19f1aa03.243f86","type":"ui_switch","z":"72e94d25.d801a4","name":"","label":"LED2 Switch","group":"129de2e.200df1d","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":150,"y":520,"wires":[["d205b72a.01b2a8"]]},{"id":"a32c7cd2.0cdb8","type":"ui_chart","z":"72e94d25.d801a4","name":"","group":"bead7059.01ba2","order":4,"width":0,"height":0,"label":"Pressure Trend","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"28","ymax":"31","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":440,"y":140,"wires":[[],[]]},{"id":"422dfdf2.9ebec4","type":"ui_gauge","z":"72e94d25.d801a4","name":"","group":"63e051b9.655ff","order":1,"width":0,"height":0,"gtype":"gage","title":"Current Temperature","label":"units","format":"{{value}}","min":"60","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":280,"wires":[]},{"id":"d358d064.deead","type":"mqtt out","z":"72e94d25.d801a4","name":"","topic":"switch/ESP_a9ee750/led1/output","qos":"1","retain":"true","broker":"7a5ac6fa.523d68","x":440,"y":380,"wires":[]},{"id":"a41f2e6b.3077b","type":"debug","z":"fd5d29cc.fba2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":80,"wires":[]},{"id":"91692bcc.cc7368","type":"mqtt in","z":"fd5d29cc.fba2d8","name":"ESP_a9e73ec/pressure","topic":"sensor/ESP_a9e73ec/pressure","qos":"2","datatype":"auto","broker":"7a5ac6fa.523d68","x":180,"y":140,"wires":[["a41f2e6b.3077b","b250510e.9a4c1","f37f5da0.98ee4"]]},{"id":"b250510e.9a4c1","type":"ui_gauge","z":"fd5d29cc.fba2d8","name":"","group":"678f1aa7.3291d4","order":2,"width":0,"height":0,"gtype":"gage","title":"Current Pressure","label":"Hg","format":"{{value}}","min":"27","max":"33","colors":["#d9d48c","#0073e6","#d71e2d"],"seg1":"33","seg2":"66","x":590,"y":120,"wires":[]},{"id":"f37f5da0.98ee4","type":"ui_chart","z":"fd5d29cc.fba2d8","name":"","group":"dee341dc.bd21","order":2,"width":0,"height":0,"label":"Pressure Trend","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"28","ymax":"31","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":580,"y":160,"wires":[[],[]]},{"id":"5a51be37.a2d2a","type":"mqtt in","z":"fd5d29cc.fba2d8","name":"ESP_a9e73ec/temperature","topic":"sensor/ESP_a9e73ec/temperature","qos":"2","datatype":"auto","broker":"7a5ac6fa.523d68","x":190,"y":280,"wires":[["46afe1df.bbfdb","50c24899.276fe8","f59c3dc7.eda3"]]},{"id":"46afe1df.bbfdb","type":"debug","z":"fd5d29cc.fba2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":240,"wires":[]},{"id":"50c24899.276fe8","type":"ui_chart","z":"fd5d29cc.fba2d8","name":"","group":"dee341dc.bd21","order":1,"width":"0","height":"0","label":"Temperature Trend","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":590,"y":280,"wires":[[],[]]},{"id":"f59c3dc7.eda3","type":"ui_gauge","z":"fd5d29cc.fba2d8","name":"","group":"678f1aa7.3291d4","order":1,"width":0,"height":0,"gtype":"gage","title":"Current Temperature","label":"units","format":"{{value}}","min":"60","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":320,"wires":[]},{"id":"7c9515b4.19cfdc","type":"mqtt in","z":"fd5d29cc.fba2d8","name":"ESP_a9e73ec/vibration","topic":"sensor/ESP_a9e73ec/vibration","qos":"2","datatype":"auto","broker":"7a5ac6fa.523d68","x":180,"y":440,"wires":[["b70ed87c.585a48","dc81fe2e.582a"]]},{"id":"b70ed87c.585a48","type":"debug","z":"fd5d29cc.fba2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":380,"wires":[]},{"id":"dc81fe2e.582a","type":"ui_chart","z":"fd5d29cc.fba2d8","name":"","group":"dee341dc.bd21","order":3,"width":"0","height":"0","label":"Vibration Trend","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":580,"y":420,"wires":[[],[]]},{"id":"4341a652.5a2a38","type":"mqtt out","z":"86015fc2.87e9c","name":"","topic":"switch/esp1234/led1/output","qos":"1","retain":"true","broker":"7a5ac6fa.523d68","x":380,"y":80,"wires":[]},{"id":"2a77636c.44725c","type":"ui_switch","z":"86015fc2.87e9c","name":"","label":"LED3 Switch","group":"d0829a1e.dcec18","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":110,"y":80,"wires":[["4341a652.5a2a38"]]},{"id":"63537615.67bbf8","type":"mqtt out","z":"86015fc2.87e9c","name":"","topic":"switch/esp1234/led2/output","qos":"1","retain":"true","broker":"7a5ac6fa.523d68","x":380,"y":160,"wires":[]},{"id":"d204d136.6fbcb","type":"ui_switch","z":"86015fc2.87e9c","name":"","label":"LED4 Switch","group":"d0829a1e.dcec18","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":110,"y":160,"wires":[["63537615.67bbf8"]]},{"id":"7c37ad9b.446c94","type":"mqtt out","z":"86015fc2.87e9c","name":"","topic":"switch/esp1234/led2/output","qos":"1","retain":"true","broker":"7a5ac6fa.523d68","x":380,"y":240,"wires":[]},{"id":"93b6867b.77a518","type":"ui_switch","z":"86015fc2.87e9c","name":"","label":"LED4 Switch","group":"41b53120.bfcc1","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":110,"y":240,"wires":[["7c37ad9b.446c94"]]},{"id":"c0ed325f.17ef8","type":"api-call-service","z":"1b0d7b07.b37a55","name":"Set David Home Switch to on","server":"8e96e05b.63b15","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.david_home","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":350,"y":40,"wires":[[]]},{"id":"6b469670.ced0f8","type":"api-call-service","z":"1b0d7b07.b37a55","name":"Set David Home Switch to off","server":"8e96e05b.63b15","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.david_home","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":350,"y":100,"wires":[[]]},{"id":"cc983ece.9b061","type":"server-state-changed","z":"1b0d7b07.b37a55","name":"David Home","server":"8e96e05b.63b15","version":"1","entityidfilter":"input_boolean.david_home","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":280,"wires":[[],["c92560de.2e121"]]},{"id":"c92560de.2e121","type":"api-call-service","z":"1b0d7b07.b37a55","name":"Home","server":"8e96e05b.63b15","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.home_occupied","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":350,"y":340,"wires":[[]]},{"id":"d1069ba9.a68808","type":"server-state-changed","z":"1b0d7b07.b37a55","name":"Carol Home","server":"8e96e05b.63b15","version":"1","entityidfilter":"input_boolean.carol_home","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":340,"wires":[[],["c92560de.2e121"]]},{"id":"5987ac83.ef2ff4","type":"server-state-changed","z":"1b0d7b07.b37a55","name":"House Guests","server":"8e96e05b.63b15","version":"1","entityidfilter":"input_boolean.house_guests_home","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":400,"wires":[[],["c92560de.2e121"]]},{"id":"2012c552.07598a","type":"server-state-changed","z":"1b0d7b07.b37a55","name":"David Home","server":"8e96e05b.63b15","version":"1","entityidfilter":"input_boolean.david_home","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":460,"wires":[[],["422aac43.33cf44"]]},{"id":"4302a475.ece01c","type":"server-state-changed","z":"1b0d7b07.b37a55","name":"Carol Home","server":"8e96e05b.63b15","version":"1","entityidfilter":"input_boolean.carol_home","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":520,"wires":[[],["a55efa34.8b5988"]]},{"id":"422aac43.33cf44","type":"api-current-state","z":"1b0d7b07.b37a55","name":"Carol Home","server":"8e96e05b.63b15","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.carol_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":460,"wires":[[],["2bc5fc56.b023c4"]]},{"id":"2bc5fc56.b023c4","type":"api-current-state","z":"1b0d7b07.b37a55","name":"House Guests","server":"8e96e05b.63b15","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.house_guests_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":460,"wires":[[],["fd5f258b.f1fb68"]]},{"id":"fd5f258b.f1fb68","type":"api-call-service","z":"1b0d7b07.b37a55","name":"Away","server":"8e96e05b.63b15","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.home_occupied","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":590,"y":520,"wires":[[]]},{"id":"a55efa34.8b5988","type":"api-current-state","z":"1b0d7b07.b37a55","name":"David Home","server":"8e96e05b.63b15","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.david_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":520,"wires":[[],["2bc5fc56.b023c4"]]},{"id":"79a1b843.c6f5e8","type":"server-state-changed","z":"1b0d7b07.b37a55","name":"House Guests","server":"8e96e05b.63b15","version":"1","entityidfilter":"input_boolean.house_guests_home","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":580,"wires":[[],["4939092c.431168"]]},{"id":"4939092c.431168","type":"api-current-state","z":"1b0d7b07.b37a55","name":"Carol Home","server":"8e96e05b.63b15","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.carol_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":580,"wires":[[],["97926b4e.7df288"]]},{"id":"97926b4e.7df288","type":"api-current-state","z":"1b0d7b07.b37a55","name":"David Home","server":"8e96e05b.63b15","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.david_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":580,"wires":[[],["fd5f258b.f1fb68"]]},{"id":"fd2ca247.1232","type":"change","z":"1b0d7b07.b37a55","name":"","rules":[{"t":"set","p":"windowName","pt":"msg","to":"Family Room Window Open","tot":"str"},{"t":"set","p":"image","pt":"msg","to":"http://hassio.local:8123/api/camera_proxy/camera.living_room?token=93474d1048dfc6f4ba10dd9e4a3961a6cbb3203ef52635a7e7136522b0640e1e","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":640,"wires":[["566a46c4.a25628"]]},{"id":"caba9f40.3e0bb","type":"inject","z":"1b0d7b07.b37a55","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":640,"wires":[["fd2ca247.1232"]]},{"id":"566a46c4.a25628","type":"function","z":"1b0d7b07.b37a55","name":"Data","func":"msg.payload = {\n  \"data\": {\n    \"message\": msg.windowName,\n    \"data\": {\n      \"push\": {\n        \"badge\": 5,\n        \"category\": \"siren\"\n      },\n      \"attachment\": {\n        \"url\": msg.image,\n        \"content-type\": \"jpeg\",\n        \"hide-thumbnail\": false\n      }\n    }\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":640,"wires":[["41e063bb.20081c"]]},{"id":"41e063bb.20081c","type":"api-call-service","z":"1b0d7b07.b37a55","name":"Notify Carol","server":"8e96e05b.63b15","version":"1","service_domain":"notify","service":"ios_carols_iphone","entityId":"mosquitto","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":610,"y":640,"wires":[[]]},{"id":"d81add9f.49cb8","type":"trigger-state","z":"1b0d7b07.b37a55","name":"David is home?","server":"8e96e05b.63b15","entityid":"device_tracker.david_phone","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"jcxifg12gro","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":100,"y":60,"wires":[["c0ed325f.17ef8"],["6b469670.ced0f8"]]},{"id":"4b2555a6.74293c","type":"trigger-state","z":"1b0d7b07.b37a55","name":"Carol is home?","server":"8e96e05b.63b15","entityid":"device_tracker.carol_phone","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"jcxifg12gro","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"x":100,"y":180,"wires":[["d870d296.c5b57"],["23c48b61.fec704"]]},{"id":"d870d296.c5b57","type":"api-call-service","z":"1b0d7b07.b37a55","name":"Set Carol Home Switch to on","server":"8e96e05b.63b15","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.carol_home","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":340,"y":160,"wires":[[]]},{"id":"23c48b61.fec704","type":"api-call-service","z":"1b0d7b07.b37a55","name":"Set David Home Switch to off","server":"8e96e05b.63b15","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.carol_home","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":350,"y":220,"wires":[[]]},{"id":"8312aaf1.ca0af8","type":"geofence","z":"1b0d7b07.b37a55","name":"","mode":"polyline","inside":"true","rad":0,"points":[{"latitude":41.16136351205234,"longitude":-81.38548593968153},{"latitude":41.1614604395791,"longitude":-81.38499241322279},{"latitude":41.16141197583363,"longitude":-81.38434868305922},{"latitude":41.160895026985514,"longitude":-81.38415556401014},{"latitude":41.16067693796724,"longitude":-81.3844559714198},{"latitude":41.160628473642376,"longitude":-81.38490658253431},{"latitude":41.16064462842131,"longitude":-81.38543229550123},{"latitude":41.16097580051182,"longitude":-81.38551812618971}],"centre":{},"x":540,"y":740,"wires":[[]]},{"id":"1d04597c.874ce7","type":"mqtt in","z":"1b0d7b07.b37a55","name":"owntracks/david/phone","topic":"owntracks/david/phone","qos":"2","datatype":"auto","broker":"7a5ac6fa.523d68","x":160,"y":740,"wires":[["e96ff6b4.f19c08"]]},{"id":"ae067060.73935","type":"debug","z":"1b0d7b07.b37a55","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":740,"wires":[]},{"id":"e96ff6b4.f19c08","type":"json","z":"1b0d7b07.b37a55","name":"","property":"payload","action":"","pretty":false,"x":370,"y":740,"wires":[["8312aaf1.ca0af8","a65b6bc.e472798"]]},{"id":"befd07f3.6a4848","type":"lookup place","z":"1b0d7b07.b37a55","latitude":51.5073,"longitude":-0.1273,"style":"MEDIUM","username":"dreed47","debug":false,"name":"","x":650,"y":900,"wires":[["ae067060.73935"]]},{"id":"a65b6bc.e472798","type":"function","z":"1b0d7b07.b37a55","name":"","func":"\nmsg.payload.username = \"dreed47\";\nmsg.payload.style = \"MEDIUM\";\nmsg.payload.latitude = msg.payload.lat;\nmsg.payload.longitude = msg.payload.lon;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":860,"wires":[["befd07f3.6a4848"]]},{"id":"c097d2e8.5ddc","type":"mqtt in","z":"1b0d7b07.b37a55","name":"","topic":"deviceLog/#","qos":"2","datatype":"auto","broker":"7a5ac6fa.523d68","x":130,"y":980,"wires":[["ddc125a9.32f678"]]},{"id":"c9dea806.8f7388","type":"debug","z":"1b0d7b07.b37a55","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":1020,"wires":[]},{"id":"ddc125a9.32f678","type":"json","z":"1b0d7b07.b37a55","name":"","property":"payload","action":"","pretty":true,"x":310,"y":980,"wires":[["c9dea806.8f7388"]]},{"id":"1cb6b412.35b04c","type":"debug","z":"a0a10aa8.92cb28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":60,"wires":[]},{"id":"bb4d4ef4.ba329","type":"server-state-changed","z":"a0a10aa8.92cb28","name":"garage door opened","server":"8e96e05b.63b15","version":"1","entityidfilter":"sensor.garage_door_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":150,"y":80,"wires":[[],["2c93c117.a43c7e"]]},{"id":"2c93c117.a43c7e","type":"api-current-state","z":"a0a10aa8.92cb28","name":"carols not home","server":"8e96e05b.63b15","version":"1","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"device_tracker.carol_phone","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":160,"wires":[[],["b1a0aa4d.4b3be8"]]},{"id":"b1a0aa4d.4b3be8","type":"api-current-state","z":"a0a10aa8.92cb28","name":"davids not home","server":"8e96e05b.63b15","version":"1","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"device_tracker.david_phone","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":80,"wires":[[],["8a6dae75.63b46","1cb6b412.35b04c"]]},{"id":"1ba4d3a.111752c","type":"e-mail","z":"a0a10aa8.92cb28","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"3309071909@vtext.com,3303880650@vtext.com","dname":"send text msg","x":840,"y":240,"wires":[]},{"id":"8a6dae75.63b46","type":"function","z":"a0a10aa8.92cb28","name":"create email msg","func":"msg = {\n  payload : \"The garage door was just now opened but no one appears to be home!          \" + Date().toString(),\n  topic : \"Warning!\"\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["1ba4d3a.111752c","1cb6b412.35b04c"]]},{"id":"5522cbbe.95b7a4","type":"mqtt in","z":"9f9ddbf7.46da38","name":"owntracks/david/phone","topic":"owntracks/david/phone","qos":"2","datatype":"auto","broker":"7a5ac6fa.523d68","x":120,"y":100,"wires":[["3aec71cc.0c0aee"]]},{"id":"3aec71cc.0c0aee","type":"json","z":"9f9ddbf7.46da38","name":"","property":"payload","action":"","pretty":false,"x":290,"y":100,"wires":[["38a57114.4f438e"]]},{"id":"120532fc.85798d","type":"api-call-service","z":"9f9ddbf7.46da38","name":"play on livingroom alexa ","server":"8e96e05b.63b15","version":"1","service_domain":"media_player","service":"alexa_tts","entityId":"media_player.livingroom","data":"{\"message\":\"Test message 22\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1050,"y":200,"wires":[[]]},{"id":"d265a5f5.477fb8","type":"function","z":"9f9ddbf7.46da38","name":"contruct payload data for tts","func":"var battery_level = msg.payload.batt;\n\nvar zones = Object.prototype.toString.call(msg.payload.inregions) == \"[object Array]\" ? msg.payload.inregions : [\"unknown\"];\n\nvar zone = zones[0];\n\nvar owner = msg.payload.owner;\nvar device = msg.payload.device;\n\nmsg = {payload: {data: {message: owner + \"'s \" + device + \" logged a location in mqtt, the battery level is \" + battery_level + \" percent. Current location is \" + zone  }}};\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":180,"wires":[["f253e65f.df0ec8","102a822a.2b8a1e"]]},{"id":"bf1b8cff.37dc5","type":"json","z":"9f9ddbf7.46da38","name":"","property":"payload","action":"","pretty":false,"x":290,"y":160,"wires":[["9f49786.fad6d88"]]},{"id":"ab79c18c.64426","type":"json","z":"9f9ddbf7.46da38","name":"","property":"payload","action":"","pretty":false,"x":290,"y":220,"wires":[["2addf237.ed3a1e"]]},{"id":"696880fa.ac26a","type":"json","z":"9f9ddbf7.46da38","name":"","property":"payload","action":"","pretty":false,"x":290,"y":280,"wires":[["2e6aa81b.594db8"]]},{"id":"a7c030cb.fa612","type":"mqtt in","z":"9f9ddbf7.46da38","name":"owntracks/david/ipad","topic":"owntracks/david/ipad","qos":"2","datatype":"auto","broker":"7a5ac6fa.523d68","x":120,"y":160,"wires":[["bf1b8cff.37dc5"]]},{"id":"7fb5d562.ba4e7c","type":"mqtt in","z":"9f9ddbf7.46da38","name":"owntracks/carol/phone","topic":"owntracks/carol/phone","qos":"2","datatype":"auto","broker":"7a5ac6fa.523d68","x":120,"y":220,"wires":[["ab79c18c.64426"]]},{"id":"9e8e028e.5888","type":"mqtt in","z":"9f9ddbf7.46da38","name":"owntracks/alex/phone","topic":"owntracks/alex/phone","qos":"2","datatype":"auto","broker":"7a5ac6fa.523d68","x":120,"y":280,"wires":[["696880fa.ac26a"]]},{"id":"43353b44.da02e4","type":"api-call-service","z":"9f9ddbf7.46da38","name":"play on sonos","server":"8e96e05b.63b15","version":"1","service_domain":"tts","service":"google_say","entityId":"media_player.livingroom_sonos","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":980,"y":80,"wires":[[]]},{"id":"f253e65f.df0ec8","type":"debug","z":"9f9ddbf7.46da38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":140,"wires":[]},{"id":"38a57114.4f438e","type":"change","z":"9f9ddbf7.46da38","name":"set owner/device","rules":[{"t":"set","p":"payload.owner","pt":"msg","to":"david","tot":"str"},{"t":"set","p":"payload.device","pt":"msg","to":"phone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":100,"wires":[["d265a5f5.477fb8"]]},{"id":"9f49786.fad6d88","type":"change","z":"9f9ddbf7.46da38","name":"set owner/device","rules":[{"t":"set","p":"payload.owner","pt":"msg","to":"david","tot":"str"},{"t":"set","p":"payload.device","pt":"msg","to":"ipad","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":160,"wires":[["d265a5f5.477fb8"]]},{"id":"2addf237.ed3a1e","type":"change","z":"9f9ddbf7.46da38","name":"set owner/device","rules":[{"t":"set","p":"payload.owner","pt":"msg","to":"carol","tot":"str"},{"t":"set","p":"payload.device","pt":"msg","to":"phone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":220,"wires":[["d265a5f5.477fb8"]]},{"id":"2e6aa81b.594db8","type":"change","z":"9f9ddbf7.46da38","name":"set owner/device","rules":[{"t":"set","p":"payload.owner","pt":"msg","to":"alex","tot":"str"},{"t":"set","p":"payload.device","pt":"msg","to":"phone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":280,"wires":[["d265a5f5.477fb8"]]},{"id":"102a822a.2b8a1e","type":"api-call-service","z":"9f9ddbf7.46da38","name":"play on computer_room alexa","server":"8e96e05b.63b15","version":"1","service_domain":"media_player","service":"alexa_tts","entityId":"media_player.computer_room","data":"{\"message\":\"Test message 22\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1070,"y":260,"wires":[[]]},{"id":"520326d9.342468","type":"ui_button","z":"99e0fe3a.4335e","name":"1","group":"d3b7e3df.e6889","order":1,"width":0,"height":0,"passthru":false,"label":"1","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":150,"y":60,"wires":[["6e6daccd.264ba4"]]},{"id":"257614cf.99ac5c","type":"ui_button","z":"99e0fe3a.4335e","name":"2","group":"d3b7e3df.e6889","order":2,"width":0,"height":0,"passthru":false,"label":"2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":150,"y":120,"wires":[["6e6daccd.264ba4"]]},{"id":"2d51e0b5.1c804","type":"ui_button","z":"99e0fe3a.4335e","name":"3","group":"d3b7e3df.e6889","order":4,"width":0,"height":0,"passthru":false,"label":"3","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"","x":150,"y":180,"wires":[["6e6daccd.264ba4"]]},{"id":"6e6daccd.264ba4","type":"join","z":"99e0fe3a.4335e","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"20","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":350,"y":120,"wires":[["e15288.b99d9d78"]]},{"id":"e15288.b99d9d78","type":"ui_audio","z":"99e0fe3a.4335e","name":"","group":"d3b7e3df.e6889","voice":"en-US","always":true,"x":520,"y":80,"wires":[]},{"id":"840e83d5.80873","type":"trigger-state","z":"99e0fe3a.4335e","name":"wallpanel motion","server":"8e96e05b.63b15","entityid":"binary_sensor.wallpanel_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"7htze6t4jg","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"lt1bewgbq6m","messageType":"default","messageValue":"","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":false,"x":210,"y":300,"wires":[["6442b7c1.f606c8","3db3b7c.50f3c48","eacf7615.1b94f8"],["6442b7c1.f606c8","cea8478d.aaf3b8","c3fd549b.1da708"],[]]},{"id":"6442b7c1.f606c8","type":"debug","z":"99e0fe3a.4335e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":480,"wires":[]},{"id":"eacf7615.1b94f8","type":"api-call-service","z":"99e0fe3a.4335e","name":"","server":"8e96e05b.63b15","version":"1","service_domain":"light","service":"turn_on","entityId":"light.chair_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":550,"y":240,"wires":[[]]},{"id":"c3fd549b.1da708","type":"api-call-service","z":"99e0fe3a.4335e","name":"","server":"8e96e05b.63b15","version":"1","service_domain":"light","service":"turn_off","entityId":"light.chair_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":530,"y":380,"wires":[[]]},{"id":"b5beb539.634778","type":"trigger-state","z":"99e0fe3a.4335e","name":"wallpanel face detected","server":"8e96e05b.63b15","entityid":"binary_sensor.wallpanel_face_detected","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"7htze6t4jg","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"lt1bewgbq6m","messageType":"default","messageValue":"","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":false,"x":170,"y":580,"wires":[["6442b7c1.f606c8","bcfb6fc.0d08e9"],["6442b7c1.f606c8","c8a9a40b.ecd338"],[]]},{"id":"bcfb6fc.0d08e9","type":"api-call-service","z":"99e0fe3a.4335e","name":"I see your face","server":"8e96e05b.63b15","version":"1","service_domain":"mqtt","service":"publish","entityId":"mosquitto","data":"{\"topic\":\"wallpanel/mywallpanel/command\",\"payload\":\"{'speak':'I see your face!'}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":520,"y":560,"wires":[[]]},{"id":"3db3b7c.50f3c48","type":"api-call-service","z":"99e0fe3a.4335e","name":"motion detected.  Turn light on","server":"8e96e05b.63b15","version":"1","service_domain":"mqtt","service":"publish","entityId":"mosquitto","data":"{\"topic\":\"wallpanel/mywallpanel/command\",\"payload\":\"{'speak':'motion detected.  Turn light on!'}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":590,"y":180,"wires":[[]]},{"id":"cea8478d.aaf3b8","type":"api-call-service","z":"99e0fe3a.4335e","name":"Turn light off","server":"8e96e05b.63b15","version":"1","service_domain":"mqtt","service":"publish","entityId":"mosquitto","data":"{\"topic\":\"wallpanel/mywallpanel/command\",\"payload\":\"{'speak':'Turn light off!'}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":550,"y":300,"wires":[[]]},{"id":"c8a9a40b.ecd338","type":"api-call-service","z":"99e0fe3a.4335e","name":"I dont see your face","server":"8e96e05b.63b15","version":"1","service_domain":"mqtt","service":"publish","entityId":"mosquitto","data":"{\"topic\":\"wallpanel/mywallpanel/command\",\"payload\":\"{'speak':'I dont see your face!'}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":520,"y":640,"wires":[[]]},{"id":"a677c941.45dc18","type":"inject","z":"99e0fe3a.4335e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":700,"wires":[["80bdf7dd.469da8"]]},{"id":"80bdf7dd.469da8","type":"api-call-service","z":"99e0fe3a.4335e","name":"reload page","server":"8e96e05b.63b15","version":"1","service_domain":"mqtt","service":"publish","entityId":"mosquitto","data":"{\"topic\":\"wallpanel/mywallpanel/command\",\"payload\":\"{'reload': true}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":410,"y":720,"wires":[[]]},{"id":"87362144.70e31","type":"inject","z":"20c900c0.75efd","name":"@ 11:30 PM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 23 * * *","once":false,"onceDelay":0.1,"x":960,"y":180,"wires":[["68d4aedf.56229"]]},{"id":"68d4aedf.56229","type":"api-call-service","z":"20c900c0.75efd","name":"turn on motion detection","server":"8e96e05b.63b15","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.garagecam_motion_detection, switch.livingroomcam_motion_detection","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":180,"wires":[[]]},{"id":"67570712.04a7b8","type":"api-call-service","z":"20c900c0.75efd","name":"turn off motion detection","server":"8e96e05b.63b15","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.garagecam_motion_detection, switch.livingroomcam_motion_detection","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":280,"wires":[[]]},{"id":"6a3c83e0.164b4c","type":"inject","z":"20c900c0.75efd","name":"@ 7:10 AM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"10 07 * * *","once":false,"onceDelay":0.1,"x":950,"y":280,"wires":[["67570712.04a7b8"]]},{"id":"58a732ec.9fdc8c","type":"api-call-service","z":"20c900c0.75efd","name":"turn off livingroom cam","server":"8e96e05b.63b15","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.livingroomcam_h264_rtsp_server","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":380,"wires":[[]]},{"id":"de39d7d9.66c588","type":"inject","z":"20c900c0.75efd","name":"@ 9:00 AM (DISABLED)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":980,"y":380,"wires":[["58a732ec.9fdc8c"]]},{"id":"ba75f07a.1c367","type":"api-call-service","z":"20c900c0.75efd","name":"turn on livingroom cam","server":"8e96e05b.63b15","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.livingroomcam_h264_rtsp_server","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":460,"wires":[[]]},{"id":"75d7a823.c1a368","type":"inject","z":"20c900c0.75efd","name":"@ 4:10 PM (DISABLED)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":980,"y":460,"wires":[["ba75f07a.1c367"]]},{"id":"8be8c489.0a0d68","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn on computer room light","server":"8e96e05b.63b15","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.022002165ccf7f738157","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":400,"y":460,"wires":[[]]},{"id":"ed666826.c590f8","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn off computer room light","server":"8e96e05b.63b15","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.022002165ccf7f738157","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":940,"y":460,"wires":[[]]},{"id":"a9c505b6.af24a8","type":"api-call-service","z":"c8fdd34b.352dd","name":"","server":"8e96e05b.63b15","version":1,"debugenabled":false,"service_domain":"media_player","service":"shuffle_set","entityId":"media_player.computerrm_sonos","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":980,"wires":[[]]},{"id":"45e0e304.36efac","type":"inject","z":"c8fdd34b.352dd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":980,"wires":[["a9c505b6.af24a8"]]},{"id":"ad78d047.2474","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn dyson to auto mode","server":"8e96e05b.63b15","version":1,"debugenabled":false,"service_domain":"dyson","service":"set_auto_mode","entityId":"fan.living_room","data":"{     \"auto_mode\": \"true\"   }","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":930,"y":520,"wires":[[]]},{"id":"959119e5.32e068","type":"inject","z":"c8fdd34b.352dd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":580,"wires":[["9855ffcf.4333a"]]},{"id":"9855ffcf.4333a","type":"api-call-service","z":"c8fdd34b.352dd","name":"turn dyson fan to 8","server":"8e96e05b.63b15","version":1,"debugenabled":false,"service_domain":"dyson","service":"set_speed","entityId":"fan.living_room","data":"{     \"dyson_speed\": \"8\"   }","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":930,"y":620,"wires":[[]]},{"id":"168abf77.ff8351","type":"api-call-service","z":"c8fdd34b.352dd","name":"sonos join all","server":"8e96e05b.63b15","version":1,"debugenabled":false,"service_domain":"sonos","service":"join","entityId":"media_player.livingroom_sonos","data":"{\"master\":\"media_player.livingroom_sonos\",\"entity_id\":[\"media_player.computerrm_sonos\",\"media_player.kitchen_sonos\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":350,"y":600,"wires":[[]]},{"id":"51ff1db8.0c5114","type":"inject","z":"c8fdd34b.352dd","name":"run @ 8:15 AM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"15 08 * * *","once":false,"onceDelay":0.1,"x":120,"y":540,"wires":[["168abf77.ff8351","b58767bf.e85948","99e9679f.8d2e58"]]},{"id":"b58767bf.e85948","type":"api-call-service","z":"c8fdd34b.352dd","name":"sonos set volume to .05","server":"8e96e05b.63b15","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.livingroom_sonos","data":"{\"entity_id\":[\"media_player.computerrm_sonos\",\"media_player.livingroom_sonos\",\"media_player.kitchen_sonos\"],\"volume_level\":0.05}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":390,"y":540,"wires":[[]]},{"id":"99e9679f.8d2e58","type":"api-call-service","z":"c8fdd34b.352dd","name":"sonos select source","server":"8e96e05b.63b15","version":1,"debugenabled":false,"service_domain":"media_player","service":"select_source","entityId":"media_player.livingroom_sonos","data":"{\"entity_id\":\"media_player.livingroom_sonos\",\"source\":\"25 - Classic Rewind\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":380,"y":660,"wires":[[]]},{"id":"456fcb87.392f24","type":"alexa-local","z":"c8fdd34b.352dd","devicename":"no shoes radio","inputtrigger":false,"x":100,"y":680,"wires":[["168abf77.ff8351","f272382e.5007d8","fadc97b9.5a2688"]]},{"id":"fadc97b9.5a2688","type":"api-call-service","z":"c8fdd34b.352dd","name":"sonos select no shoes source","server":"8e96e05b.63b15","version":1,"debugenabled":false,"service_domain":"media_player","service":"select_source","entityId":"media_player.livingroom_sonos","data":"{\"entity_id\":\"media_player.livingroom_sonos\",\"source\":\"62 - No Shoes Radio\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":410,"y":760,"wires":[[]]},{"id":"f272382e.5007d8","type":"api-call-service","z":"c8fdd34b.352dd","name":"sonos set volume to 1.5","server":"8e96e05b.63b15","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.livingroom_sonos","data":"{\"entity_id\":[\"media_player.computerrm_sonos\",\"media_player.livingroom_sonos\",\"media_player.kitchen_sonos\"],\"volume_level\":0.15}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":390,"y":720,"wires":[[]]},{"id":"ea0969b1.206968","type":"alexa-local","z":"c8fdd34b.352dd","devicename":"noshoes","inputtrigger":false,"x":90,"y":620,"wires":[["168abf77.ff8351","f272382e.5007d8","fadc97b9.5a2688"]]}]